.mapTitle {
  font-family: Helvetica;
  text-align: center;
  font-style: bold;
  color:lightskyblue;
  font-variant: small-caps;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sumI {
  font-family: sans-serif;
  color:pink;
  font-weight: normal;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.different {
  font-family: courier;
  color:pink;
  font-weight: bold;
  font-style: oblique;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.mapQuick {
  font-size: 14px;
  line-height: 125%;
  text-shadow:
    -0.5px -0.5px 0 #000,
    0.5px -0.5px 0 #000,
    -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000;
}

.selectFilter {
  font-family: Optima, sans-serif;
  font-size: 16px;
  text-shadow:
    -0.5px -0.5px 0 #000,
    0.5px -0.5px 0 #000,
    -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000;
}

.Mission {
  font-family: Optima, sans-serif;
  font-style: normal;
  font-size: 16px;
  text-shadow:
    -0.5px -0.5px 0 #000,
    0.5px -0.5px 0 #000,
    -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000;
}

.tabsInfo {
  font-family: Optima, sans-serif;
  font-style: italic;
  font-size: 16px;
  text-shadow:
    -0.5px -0.5px 0 #000,
    0.5px -0.5px 0 #000,
    -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000;
}

.MissionInfo {
  font-family: Optima, sans-serif;
  font-style: normal;
  font-style: oblique;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

h2 {
  font-family: Helvetica;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.sharkTypes {
  font-family: Helvetica;
  color:pink;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.tabFive {
  font-family: Helvetica;
  color:yellowgreen;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.tabSix {
  font-family: Helvetica;
  color:orange;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.tabFiveWords {
  font-style: normal;
}

h3 {
  font-family: Helvetica;
  color: pink;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

h4 {
  font-style: italic
}

h6 {
  font-family: Helvetica;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.disclaimer {
  font-size: 8px;
  font-style: italic;
}

.left {
    display: block;
    margin-left: 0px;
    margin-right: auto;
}

.contextTitle {
  font-family: Helvetica;
  font-variant: small-caps;
  color: yellowgreen
}


.context {
    font-family: Optima, sans-serif;
    font-size: 15px;
    text-shadow:
      -0.5px -0.5px 0 #000,
      0.5px -0.5px 0 #000,
      -0.5px 0.5px 0 #000,
      0.5px 0.5px 0 #000;
  }
